@import url(https://fonts.bunny.net/css?family=abeezee:400);

body, html{
    margin: auto;
    font-family: 'ABeeZee', sans-serif;
}

.dashboardIcon{
    width:25px;
}
.searchIcon, .notificationIcon{
    width:25px;
}
.userPic{
    width:40px;
}
.profilePic{
    width:80px;
}
.starIcon, .eyeIcon, .forkIcon{
    width: 25px;
}
.trendingPic{
    width:60px;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.dashboard{
    grid-area:1/1/6/2;
}
.nav{
    grid-area:1/2/2/6;
}
